body {
  font-size: 18px;
  line-height: 26px;
  font-weight: normal;
  color: #555252;
  font-family: "Roboto", sans-serif;
}
.clearfix::after {
  display: table;
  content: "";
  clear: both;
}
.wrapper {
  width: 1600px;
  margin: 0px auto;
  /* background-color: #e9f0fd; */
}
.page-header {
  width: 1110px;
  padding-top: 38px;
  margin: 0px auto;
  margin-bottom: 33px;
}
.logotipe {
  float: left;
  font-size: 30px;
  line-height: 32px;
  font-weight: 300;
  text-decoration: none;
  text-transform: uppercase;
  color: #555252;
}
.logotipe::first-letter {
  content: "";
  color: #1abc9c;
  font-weight: 900;
}
.nav-menu {
  float: right;
  margin: 0px auto;
  padding: 0px;
}
.nav-menu-item {
  float: left;
  list-style: none;
  font-size: 14px;
  font-weight: 900;
  margin-right: 32px;
  text-transform: uppercase;
}
.nav-menu-item:last-child {
  margin-right: 0px;
}
.nav-menu-link {
  text-decoration: none;
  color: #0f0101;
}
.nav-menu-link:hover {
  color: #1abc9c;
}
.one {
  position: relative;
}
.slaider-image {
  background-color: #000002;
}
.slaider-img {
  float: left;
  opacity: 52%;
}
.slaider-option {
  width: 1110px;
  margin: 0px auto;
  position: absolute;
  top: 224px;
  left: 245px;
}
.Left {
  display: block;
  float: left;
  border: none;
  width: 103px;
  height: 103px;
  background-color: #1abc9c;
  padding: 0px;
  background-image: url(../img/L.png);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.head-conteiner {
  float: left;
  margin: 0px auto;
  width: 904px;
  color: #ffffff;
}
.head-slaider {
  margin: 0px 0px 38px 0px;
  font-size: 60px;
  text-transform: uppercase;
  text-align: center;
}
figcaption {
  text-align: left;
  font-size: 24px;
  text-transform: uppercase;
  padding-left: 72px;
}
.Right {
  display: block;
  float: right;
  border: none;
  width: 103px;
  height: 103px;
  background-color: #1abc9c;
  padding: 0px;
  background-image: url(../img/R.png);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.Left:hover, .Right:hover {
  content: "";
  background-color: #1abc9c;
  opacity: 65%;
}
.options {
  width: 1110px;
  margin: 0px auto;
  position: absolute;
}
.two {
  width: 1600px;
  margin: 0px auto;
  padding-bottom: 95px;
  background-color: #e9f0fd;
}
.head-second {
  text-align: center;
  font-size: 48px;
  line-height: 72px;
  text-transform: uppercase;
  padding-top: 94px;
  margin: 0px 0px 128px 0px;
}
.head-second::after {
  display: block;
  content: "";
  width: 164px;
  height: 7px;
  background-color: #1abc9c;
  margin: 0px auto;
}
.main-menu {
  margin: 0px 245px 0px 245px;
  padding: 0px;
}
.main-menu-item {
  float: left;
  list-style: none;
  line-height: 32px;
  text-transform: uppercase;
  position: relative;
}
.main-menu-item:not(:nth-child(4n)) {
  margin-right: 30px;
}
.card-img {
  float: left;
}
.main-menu-link {
  float: left;
  clear: both;
  display: block;
  position: absolute;
  top: 282px;
  margin: 0px;
  text-decoration: none;
  background-color: #323232;
}
.name {
  float: left;
  width: 187px;
  color: #ffffff;
  font-weight: 900;
  padding: 4px 0px 4px 14px;
  margin: 0px;
}
.price {
  float: left;
  color: #ffffff;
  text-align: center;
  width: 54px;
  padding: 4px 0px 4px 0px;
  background-color: #8c8c8c;
  font-weight: 900;
}
.main-menu-item:hover .main-menu-link {
  content: "";
  background-color: #1abc9c;
}
.main-menu-item:hover .price {
  content: "";
  background-color: #7fd9c7;
}
.main-button-like,
.main-button-reset,
.main-button-time {
  float: left;
  border-width: 1px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  width: 50px;
  height: 50px;
  padding: 0px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  cursor: pointer;
}
.main-button-like {
  background-image: url(../img/Hart.png);
}
.main-button-reset {
  background-image: url(../img/Arrow.png);
}
.main-button-time {
  background-image: url(../img/Watch.png);
}
.main-button-sell {
  float: left;
  clear: both;
  text-align: center;
  border-width: 1px;
  border-color: rgb(255, 255, 255);
  background-color: #323232;
  border-style: solid;
  width: 166px;
  height: 50px;
  padding: 0px 18px 0px 18px;
  cursor: pointer;
}
.word {
  text-align: right;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 32px;
  font-family: "Open Sans";
  color: white;
  margin: 0px;
  background-image: url(../img/Sell.png);
  background-repeat: no-repeat;
  background-position: left;
}
.key-block-shadow {
  display: none;
  width: 235px;
  height: 261px;
  background-color: rgba(0, 0, 0, 0.55);
  margin-right: 0px;
  border-width: 10px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  position: relative;
}
.key-block {
  position: absolute;
  left: 45px;
  top: 80px;
}
.main-button-like:hover,
.main-button-reset:hover,
.main-button-time:hover {
  content: "";
  background-color: #1abc9c;
  border-color: #1abc9c;
}
.main-menu-item:hover > .key-block {
  display: block;
}
.main-menu-item:hover > .key-block-shadow {
  display: block;
}
.main-button-like {
  margin-right: 8px;
  margin-bottom: 7px;
}
.main-button-reset {
  margin-right: 8px;
}
.main-footer {
  padding: 35px 0px 31px 0px;
  background-color: #323232;
}
address {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-style: normal;
  text-align: center;
  color: #ffffff;
}
.footer-span {
  color: #1abc9c;
}
.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
