body {
  font-size: 18px;
  line-height: 26px;
  font-weight: normal;
  color: #555252;
  font-family: "Roboto",sans-serif;
}
.clearfix::after {
  display: table;
  content: "";
  clear: both;
}
.wrapper {
  width: 1600px;
  margin: 0px auto;
  background-color: #e9f0fd;
}
.page-header {
  width: 1110px;
  padding-top: 38px;
  margin: 0px auto;
  margin-bottom: 33px;
}
.logotipe {
  float: left;
  font-size: 30px;
  line-height: 32px;
  font-weight: 300;
  text-decoration: none;
  text-transform: uppercase;
  color: #555252;
}
.logotipe::first-letter {
  content: "";
  color: #1abc9c;
  font-weight: 900;
}
.nav-menu {
  float: right;
  margin: 0px auto;
  padding: 0px;
}
.nav-menu-item {
  float: left;
  list-style: none;
  font-size: 14px;
  font-weight: 900;
  margin-right: 32px;
  text-transform: uppercase;
}
.nav-menu-item:last-child {
  margin-right: 0px;
}
.nav-menu-link {
  text-decoration: none;
  color: #0f0101;
}
.nav-menu-link:hover {
  color: #1abc9c;
}
.one {
position: relative;
margin-bottom: 94px;
}
.slaider-img {
  float: left;
  }
.slaider-option {
  width: 1110px;
  margin: 0px auto;
  position: absolute;
  top: 224px;
  left: 245px;
}
.Left{
  display: block;
  float: left;
  border: none;
  width: 103px;
  height: 103px;
  background-color: #1abc9c;
  padding: 0px;
  opacity: 65%;
  background-image: url(../img/L.png);
  background-repeat: no-repeat;
  background-position: center;
}
.head-conteiner {
  float: left;
  margin: 0px auto;
  width: 904px;
  color: #ffffff;
}
.head-slaider{
  margin: 0px 0px 38px 0px;
  font-size: 60px;
  font-family: "Roboto";
  text-transform: uppercase;
  text-align: center;
  }
figcaption {
  text-align: left;
  font-size: 24px;
  font-family: "Roboto";
  text-transform: uppercase;
  padding-left: 72px;
}
.Right{
  display: block;
  float: right;
  border: none;
  width: 103px;
  height: 103px;
  background-color: #1abc9c;
  padding: 0px;
  background-image: url(../img/R.png);
  background-repeat: no-repeat;
  background-position: center;
}
.options {
width: 1110px;
margin: 0px auto;
position: absolute;
}
.two {
  width: 1110px;
  margin: 0px auto;
  margin-bottom: 95px;
   }
.head-second {
  text-align: center;
  font-size: 48px;
  line-height: 72px;
  text-transform: uppercase;
  margin: 0px 0px 128px 0px;
}
.head-second::after {
  display: block;
  content: "";
  width: 164px;
  height: 7px;
  background-color: #1abc9c;
  margin: 0px auto;
}
.main-menu{
  margin: 0px auto;
  padding: 0px;
  box-sizing: border-box;
}
.main-menu-item {
  float: left;
  list-style: none;
  line-height: 32px;
  text-transform: uppercase;
}
.main-menu-item:not(:nth-child(4n)) {
  margin-right: 30px;
 }
.card-img {
  float: left;
    }
.main-menu-link {
  float: left;
  clear: both;
  width: 255px;
  /* padding-left: 14px; */
  margin: 0px;
  text-decoration: none;
  color: #ffffff;
  background-color: #323232;
  font-weight: 900;
}
.price {
  float: right;
  text-align: center;
  width: 54px;
  background-color: #8c8c8c;
}
.main-menu-item:hover .main-menu-link {
  content: "";
  background-color: #1abc9c;
}
.main-menu-item:hover .price {
    content: "";
    background-color: #7fd9c7;
  }
  .main-footer {
    padding: 35px 0px 31px 0px;
    background-color: #323232;
  }
  address {
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-style: normal;
    text-align: center;
    color: #ffffff;
  }
  .footer-span {
    color: #1abc9c;
  }
/* .button {
  width: 160px;
  height: 51px;
  border-style: none;
  border-radius: 3px;
  background-color: #1abc9c;
  font-size: 16px;
  font-family: "Open Sans" sans-serif;
  color: #ffffff;
  padding: 0px;
  } */
  .visually-hidden:not(:focus):not(:active) {
     position: absolute;
     width: 1px;
     height: 1px;
     margin: -1px;
     border: 0;
     padding: 0;
     white-space: nowrap;
     clip-path: inset(100%);
     clip: rect(0 0 0 0);
     overflow: hidden;
     }
